{% extends 'base.html' %}

{% block content %}


<p>Welcome!</p>



<div class="container">
	<div class="row">
		<div class="col">

			<img src="{{  url_for('static', filename='images/photo.PNG') }}" width="200">
		</div>

		<div class="col-9">
			<h1>Curriculum vitae</h1>

			<p>Kamil Skowron</p>

		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>Skills:</p>
			<p>Languages:</p>
			<p>- Python</p>
			<p>- JavaScript</p>
			<p>- C</p>

			<br>

			<p>Web development:</p>
			<p>- Flask</p>

			<br>

			<p>Basic Linux Knowledge</p>

			<br>

			<p>Data analysis:</p>
			<p>- Pandas</p>
			<p>- NumPy</p>
			<p>- Seaborn</p>
			<p>- Matplotlib</p>

			<br>

			<p>SQL:</p>
			<p>- MySQL</p>
			<p>- PopSQL</p>


		</div>


		<div class="col">
			<h2>Projects1</h2>
		</div>
		<div class="col">
			<h3>Description1</h3>
		</div>
	</div>
</div>

{% endblock %}